<div class="document-editor">
    <div #documentEditor id="page" [ngStyle]="{'zoom': pageZoom}" name="page" class="document-editor__editable-container">

    </div>
</div>
<ckeditor ng-style="{height:0px}" [editor]="Editor" (ready)="onReady($event)" [(ngModel)]="nudiDocument.editorData"
    (change)="onChange($event)"></ckeditor>