<div class="container">
    <div class="p-grid">
        <div class="p-col" style="padding:0"></div>
        <div class="p-col p-col-align-end" style="padding:0">
            
        </div>
    </div>
</div>