.container{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
    padding: 2px;
}

.text-caption{
    font-size: 9pt;
    cursor: pointer;
    &:hover{
        cursor: pointer;
        background-color: lightgrey;
    }
}

.text-caption-center{
    text-align: center;
}