<div class="container">
    <p-tabView styleClass="ribbon-menu" [activeIndex]="index">
        <p-tabPanel header="{{'RIBBON.FILE_MENU' | translate}}">
            <div class="p-grid menu-page" style="padding:0.5em">
                <div class="p-col-1" style="padding:0;">
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width:42px;padding:0">
                            <p class="text-caption text-caption-center" (click)="cmdSaveClick()"><img class="image-btn-32"
                                    src="./assets/save.png" />
                                <br />
                                {{'MENU.MENU_SAVE' | translate}}</p>
                        </div>
                        <div class="p-col" style="padding:0;margin-left: 5px;">
                            <div>
                                <p class="text-caption" (click)="cmdNewClick()"><img class="image-btn-16" src="./assets/new.png" />
                                    {{'MENU.MENU_NEW' | translate}}</p>
                                <p class="text-caption" (click)="cmdOpenClick()"><img class="image-btn-16" src="./assets/open.png" />
                                    {{'MENU.MENU_OPEN' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col" style="margin-left:20px;padding:0">
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width:48px;padding:0">
                            <p (click)="cmdMetaClick()" class="text-caption text-caption-center"><img class="image-btn-32"
                                    src="./assets/metadata.png" />
                                <br />
                                {{'MENU.MENU_METADATA' | translate}}</p>
                        </div>
                        <div class="p-col-fixed" style="width:42px;padding:0">
                            <p (click)="cmdPrintClick()" class="text-caption text-caption-center"><img class="image-btn-32"
                                    src="./assets/print.png" />
                                <br />
                                {{'MENU.MENU_PRINT' | translate}}</p>
                        </div>
                        <div class="p-col-fixed" style="width:42px;padding:0">
                            <p (click)="cmdPageSetupClick()" class="text-caption text-caption-center"><img class="image-btn-32"
                                    src="./assets/page-setup.png" />
                                <br />
                                {{'MENU.MENU_PAGESETUP' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="p-col-1 p-col-align-end" style="margin-left:20px;padding:0">
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width:42px;padding:0;margin-left:11px">
                            <p (click)="cmdLayoutClick()" class="text-caption text-caption-center"><img class="image-btn-32"
                                    src="./assets/keyboard.png" />
                                <br />
                                {{'MENU.MENU_LAYOUT' | translate}}</p>
                        </div>
                        <div class="p-col-fixed" style="width:42px;padding:0;margin-left:11px">
                            <p (click)="cmdHelpClick()" class="text-caption text-caption-center"><img class="image-btn-32"
                                    src="./assets/help.png" />
                                <br />
                                {{'MENU.MENU_HELP' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="{{'RIBBON.EDIT_MENU' | translate}}">
            <div class="p-grid menu-page" style="padding:0.5em">
                <div class="p-col-1" style="padding:0">
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width:42px;padding:0">
                            <p (click)="cmdPasteClick()" class="text-caption text-caption-center"><img class="image-btn-32"
                                    src="./assets/paste.png" />
                                <br />
                                {{'MENU.MENU_PASTE' | translate}}</p>
                        </div>
                        <div class="p-col" style="padding:0;margin-left: 5px;">
                            <div>
                                <p (click)="cmdCopyClick()" class="text-caption"><img class="image-btn-16" src="./assets/copy-to-clipboard.png" />
                                    {{'MENU.MENU_COPY' | translate}}</p>
                                <p (click)="cmdCutClick()" class="text-caption"><img class="image-btn-16" src="./assets/cut.png" />
                                    {{'MENU.MENU_CUT' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-fixed" style="padding:0;width:26px;margin-left:10px">
                    <div class="p-grid">
                        <div class="p-col" style="padding:0">
                            <div>
                                <p (click)="cmdUndoClick()" class="text-caption text-caption-center" pTooltip="{{'MENU.MENU_UNDO' | translate}}"><img
                                        class="image-btn-26" src="./assets/undo.png" /></p>
                                <p style="margin-top:-7px" (click)="cmdRedoClick()" class="text-caption text-caption-center"
                                    pTooltip="{{'MENU.MENU_REDO' | translate}}"><img class="image-btn-26" src="./assets/redo.png" /></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-fixed" style="padding:0;margin-left:25px;width:297px">
                    <div class="p-grid">
                        <div class="p-col" style="padding-left:0;padding-right:0;padding-bottom:0">
                            <p-dropdown (onChange)="fontFamilyChanged($event.value)" [style]="{'width':'170px', 'font-size' : '9pt'}"
                                scrollHeight="400px" [options]="fonts" filterBy="family,postscriptName"
                                emptyFilterMessage="{{'MESSAGE.FONT_FILTER_EMPTY'|translate}}" [(ngModel)]="selectedFont"
                                optionLabel="family" pTooltip="{{'MENU.MENU_FONT' | translate}}" [filter]="false"></p-dropdown>
                        </div>
                        <div class="p-col" style="padding-left:0;padding-right:0;padding-bottom:0">
                            <p-dropdown (onChange)="fontSizeChanged($event.value)" [style]="{'width':'75px', 'font-size' : '9pt'}"
                                [options]="fontSize" [editable]="true" pTooltip="{{'MENU.MENU_FONT_SIZE'|translate}}"
                                [(ngModel)]="selectedFontSize"></p-dropdown>
                        </div>
                        <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                            <p class="text-caption text-caption-center"><img (click)="cmdFontSizeUpClick()" class="image-btn-26"
                                    pTooltip="{{'MENU.MENU_FONT_SIZE_INCREASE'|translate}}" src="./assets/increase-font.png" /></p>
                        </div>
                        <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                            <p class="text-caption text-caption-center"><img (click)="cmdFontSizeDownClick()" class="image-btn-26"
                                    pTooltip="{{'MENU.MENU_FONT_SIZE_DECREASE'|translate}}" src="./assets/decrease-font.png" /></p>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdBoldClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_BOLD'|translate}}" src="./assets/bold.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdItalicClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_ITALIC'|translate}}" src="./assets/italic.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdUnderlineClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_UNDERLINE'|translate}}" src="./assets/underline.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdStrikethroughClick()"
                                        class="image-btn-26" pTooltip="{{'MENU.MENU_STRIKETHROUGH'|translate}}" src="./assets/strikethrough.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdSuperscriptClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_SUPERSCRIPT'|translate}}" src="./assets/superscript.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdSubscriptClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_SUBSCRIPT'|translate}}" src="./assets/subscript.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdAlignLeftClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_ALIGNLEFT'|translate}}" src="./assets/align-left.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdAlignRightClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_ALIGNRIGHT'|translate}}" src="./assets/align-right.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdAlignCenterClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_ALIGNCENTER'|translate}}" src="./assets/align-center.png" /></p>
                            </div>
                            <div class="p-col-fixed" style="margin-top:-5px;padding:0;width:26px;">
                                <p class="text-caption text-caption-center"><img (click)="cmdAlignJustifyClick()" class="image-btn-26"
                                        pTooltip="{{'MENU.MENU_ALIGNJUSTIFY'|translate}}" src="./assets/align-justify.png" /></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="p-col" style="padding:0">

                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
<p-dialog [(visible)]="showLayout" [closable]="true" [resizable]="false" [baseZIndex]="10000">
    <img src="./assets/layout.jpg" style=" -webkit-user-select: none" />
</p-dialog>