.container{
    height: 120px;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    -webkit-user-select: none;
    box-shadow: 0 0 1px #000000;
}
.menu-page{
    height: 90px;
    overflow: none;
    background-color: #FAFAFA;
}

.image-btn-32{
    width: 32px;
    padding: 4px;
  
}

.image-btn-48{
    width: 38px;
    padding: 4px;
   
}

.image-btn-26{
    width: 26px;
    padding: 4px;
}

.image-btn{
    padding: 4px;
    
}


.image-btn-16{
    width: 16px;
    padding: 2px;
    vertical-align: text-top;
   
}

.text-caption{
    font-size: 9pt;
    cursor: pointer;
    &:hover{
        cursor: pointer;
        background-color: lightgrey;
    }
}

.text-caption-center{
    text-align: center;
}